
 <!-- Outer Row -->
    <div class="row justify-content-center my-5">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    
                    <img class="mb-2" src="https://static.wixstatic.com/media/c122ef_bd3c083b561441edbca186375b20ddda~mv2_d_5000_1268_s_2.png/v1/fill/w_295,h_75,al_c,q_85,usm_0.66_1.00_0.01/Original%20on%20Transparent.webp" >
                    </div>
                    <div class="text-center">
                      <h5 class="mb-3 text-gray-700">Admin</h5>
                    </div>
                 
                    <div class="form-group mb-4">
                    <%= form_tag '/login' do %>
                      <%= text_field_tag :username, "", class: 'form-control form-control-user', placeholder: 'Username...'%>
                    </div>
                    <div class="form-group mb-5">
                     <%= password_field_tag :password, "",class: 'form-control form-control-user', placeholder: 'Pasword...'%>
                    </div>
                    
                    <%= submit_tag "Login",  class: "btn btn-primary btn-user btn-block" %>
                    <hr>
                    
                
            <% end %>
                
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
