	@import './bootstrap_custom.scss';

	a:hover{
	text-decoration: none;	
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}