<!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h3 class="h3 mb-0 text-gray-800">New mat contract</h3>
           
          </div>
          <hr/>

<%= render 'form', company_mat: @company_mat %>


